body {
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: absolute;
    height: 25px;
    left: 77px;
    top: 40px;

    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;

    color: #333333;
}

.image-container, .info-container {
    width: 50vw;
    margin-top: -4rem;
}

.image-container {
    margin-left: 77px;
    margin-right: 118px;
    background-image: url(./Scarecrow.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    height: 447px;
    width: 539px;

    min-height: 238px;
    min-width: 286px;

    border-radius: 0px;

}

.info-header {
    height: 190px;
    width: 586px;

    font-family: "Space Mono";
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 6rem;
    letter-spacing: -0.035em;

    /* Gray 1 */
    color: #333333;
    margin-bottom: 36px;
}

.info-detail {
    height: 108px;
    width: 381px;

    font-family: "Space Mono";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;

    /* Gray 2 */

    color: #4F4F4F;

    margin-bottom: 64px;
}

.info-button {
    width: 216px;
    height: 68px;

    border: none;

    /* Gray 1 */
    background: #333333;

    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: -0.035em;
    text-transform: uppercase;

    color: #FFFFFF;
}

footer {
    position: absolute;
    height: 17px;
    bottom: 39px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}

@media screen and (max-width: 1200px) {
    .info-header {
        font-size: 56px;
        line-height: 83px;
        letter-spacing: -0.035em;
    }

    .info-detail {
        font-size: 21px;
        line-height: 32px;
        letter-spacing: -0.035em;
    }
}

@media screen and (max-width: 992px) {
    .info-header {
        font-size: 48px;
        line-height: 71px;
        letter-spacing: -0.035em;
        height: 142px;
        width: 360px;
    }

    .info-detail {
        width: 328px;
        height: 81px;

        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.035em;
    }
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }

    header {
        left: 24px;
        top: 20px;
    }

    .image-container {
        height: 238px;
        width: 286px;
        margin: 0 auto;
    }

    .image-container figure {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info-container {
        margin-top: 0px;
        margin-left: 30px;
        width: unset;
    }

    footer {
        bottom: 10px;
    }
}
